body {
  margin: 0;
  background-color: #FFD8E7; 
  font-family: 'Baloo 2', cursive;
}
.topo {
  position: relative;
  height: 270px;
  overflow: hidden; 
}

.granulado-topo {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 0;
}


/* nav central no meio do topo */
.nav-central {
  position: absolute;
  top: 40%; 
  left: 50%;
  transform: translate(-50%, -50%);
  background-color: #ffffff;
  border-radius: 15px;
  max-width: 1500px;     
  width: 100%;           
  height: 70px;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0 8rem;
  z-index: 1;
  box-shadow: 0 4px 20px rgba(0, 0, 0, 0.05);
}


/* logo */
.nav-logo {
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.nav-logo img {
  height: 220px;
}

/* links à esquerda */
.nav-links {
  list-style: none;
  display: flex;
  gap: 1.5rem;
  margin: 0;
  padding: 0;
}

.nav-links li a {
  text-decoration: none;
  color: #A31911;
  font-family: 'Baloo 2', cursive;
  font-weight: bold;
}

/* ícones + botão à direita */
.nav-icons {
  display: flex;
  align-items: center;
  gap: 1.5rem;
}

.nav-icons img {
  width: 22px;
  height: 22px;
}

.botao-contato {
  background-color: #A31911;
  color: white;
  padding: 0.4rem 1rem;
  border-radius: 10px;
  text-decoration: none;
  font-family: 'Baloo', cursive;
  font-size: 1rem;
}

/* ====================== LOGIN - PARTE CENTRAL ================================= */

main.fundo {
  position: relative;
  padding: 1rem 1rem 8rem;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
  overflow: hidden;
}

/* fundo chicletinho rosa centralizado */
.chicletinho {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 650px;
  opacity: 1;
  z-index: 0;
}

/* imagens de decoração */
.decoracao {
  position: absolute;
  z-index: 1;
}

/* Donuts (esquerda) */
.decoracao.esquerda {
  position: absolute;
  bottom: -210px;   
  left: 50px;
  width: 1000px;    
  z-index: -1;      
 
}

/* Pirulito (direita)  */
.decoracao.direita {
  position: absolute;
  top: -10%;
  right: 0px;     
  width: 650px;     
  z-index: 2;
}


/* caixa de login */
.login {
  position: relative;
  z-index: 2;
  padding: 3rem 3rem;
  max-width: 400px;
  width: 100%;
  border-radius: 15px;
  text-align: center;
  display: flex;
  flex-direction: column;
  align-items: center; 
  gap: 0.5rem; 
}


.login h1 {
  font-family: 'Baloo', cursive;
  font-size: 80px;     
  font-weight: 2000;       
  color: white;
  margin-bottom: -25px;   
}

.botao-social {
  background: #ffffff;
  border: none;
  padding: 0.8rem;
  border-radius: 50px;
  display: flex;
  align-items: center;
  gap: 1rem;
  justify-content: center;
  font-family: 'Baloo', cursive;
  cursor: pointer;
  margin: 1rem 0;
  width: 100%;
  max-width: 500px;
}

.botao-social img {
  width: 24px;
  height: 24px;
}

.facebook {
  background-color: #ffffff;
}

.ou {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  margin: 1.5rem 0;
  width: 100%;
  max-width: 320px;
}

.ou hr {
  flex-grow: 1;
  height: 1px;
  border: none;
  background-color: #A31911;
}

.ou span {
  font-family: 'Baloo', cursive;
  font-weight: bold;
  font-size: 1rem; 
  color: #A31911;
}

.campo-input {
  background: white;
  border-radius: 50px;
  display: flex;
  align-items: center;
  padding: 0.5rem 1rem;
  margin: 0.7rem 0;
  width: 100%;
  max-width: 370px
}

.campo-input img {
  width: 20px;
  height: 20px;
  margin-right: 0.5rem;
}

.campo-input input {
  border: none;
  outline: none;
  width: 100%;
  background: transparent;
  font-size: 1rem;
  font-family: 'Baloo 2', cursive;
}

.lembrar {
  display: flex;
  justify-content: space-between;
  align-items: center;
  font-size: 0.9rem;
  color: #A31911;
  font-family: 'Baloo 2', cursive;
  margin: 0.5rem 0 1rem;
  width: 100%;
  max-width: 320px;
  gap: 1rem; 
}

.botao-social.entrar {
  background-color: #A31911;
  color: white;
  font-weight: bold;
  font-family: 'Baloo 2', cursive;
  font-size: 1rem;
  margin-top: 1rem;
}
.botao-social.entrar:hover {
  background-color: #fc527e;
  transform: scale(1.02);
  transition: 0.2s ease-in-out;
}


.lembrar a {
  color: #858585;
  text-decoration: none;
}

.cadastro {
  margin-top: 1rem;
  font-size: 0.85rem;
  color: #000000;
  font-family: 'Baloo 2', cursive;
}

.cadastro a {
  color: #A31911;
  text-decoration: none;
}

/* ====== EFEITOS HOVER ====== */

/* Hover nos botões Google e Facebook */
.botao-social:hover {
  background-color: #FFD8E7; 
  transform: scale(1.02);    
  transition: 0.2s ease-in-out;
}

/* Hover nos inputs (e-mail e senha) */
.campo-input input:hover {
  background-color: #faeef3;
  transition: 0.2s;
}

/* Hover no link "Esqueci a senha" */
.lembrar a:hover {
  text-decoration: underline;
  color: #ffffff;
  transition: 0.2s;
}

/* Hover no link "Crie uma" */
.cadastro a:hover {
  text-decoration: underline;
  color: #ffffff;
  transition: 0.2s;
}

/* ====== HOVER NOS ÍCONES DA NAV BAR ====== */
.nav-links li a:hover {
  color: #FC68A1;
  text-decoration: underline;
  transform: scale(1.05);
  transition: all 0.2s ease-in-out;
}
.nav-logo img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

.nav-icons img:hover {
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* ====== HOVER NO BOTÃO "ENTRE EM CONTATO" ====== */
.botao-contato:hover {
  background-color: #FC68A1;  
  color: white;
  transform: scale(1.05);
  transition: 0.2s ease-in-out;
}

/* ===== FOOTER ===== */
footer {
  background-color: transparent; 
  position: relative;
  padding-top: 160px;
  padding-bottom: 4rem;
  font-family: 'Baloo 2', cursive;
}

.granulado-footer {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%; 
  object-fit: cover;
  z-index: 0;
}

.conteudo-footer {
  position: relative;
  z-index: 1;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 20vh;
  padding: 6vh;
}

.coluna {
  max-width: 220px;
  display: flex;
  flex-direction: column;
}

.coluna2 {
  width: auto;
  flex-direction: column;
}

.coluna2 p {
  width: -10px;
  height: 12px;
}

.coluna2 h2 {
  font-family: 'Baloo', cursive;
  font-size: 1.2rem;
  color: #000000;
}

.coluna h2 {
  font-family: 'Baloo', cursive;
  font-size: 1.2rem;
  color: #000000;
}

.coluna ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

.coluna ul li a {
  text-decoration: none;
  color: #000000;
  font-size: 0.95rem;
  transition: 0.2s;
}

.coluna ul li a:hover {
  color: #ffffff;
  text-decoration: underline;
}

.coluna p {
  display: flex;
  align-items: center;
  gap: 0.5rem;
  font-size: 0.9rem;
}

.coluna img {
  width: 20px;
}

.social {
  display: flex;
  gap: 1rem;
}

.social img {
  width: 24px;
  transition: 0.2s;
  cursor: pointer;
}

.social img:hover {
  transform: scale(1.2);
}

.copy {
  background-color: #FFE4F0;
  width: 90%;
  margin: 0 4rem;
  padding: 1.5rem 2rem;
  border-radius: 30px;
  position: relative;
  z-index: 1;
}

.copy-conteudo {
  height: 30px;
  margin-left: 0.5rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;
  gap: 1rem;
}

.copy-conteudo p {
  font-family: 'Baloo 2', cursive;
  font-size: 0.95rem;
  margin: 0;
  color: #000000;
}

.copy-conteudo img {
  height: 30px;
}

.bandeiras {
  display: flex;
  align-items: center;
  gap: 1rem;
}

.macaron {
  margin-left: auto;
  margin-top: 1.8rem;
  margin-left: 170vh;
  display: block;
  transform: scale(1);
  z-index: 0;
  position: absolute;
}

.logo-footer {
  width: 350px;
  height: 350px; 
  margin-top: -15vh;
  margin-left: 200px;
  position: absolute;
  z-index: 10;
}

/* =================== CADASTRO ========================== */
.chicletinho2 {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 750px;
  opacity: 1;
  z-index: 0;
}

/* Donuts (esquerda) */
.decoracao.esquerda2 {
  position: absolute;
  bottom: -320px;   
  left: -110px;
  width: 1150px;    
  z-index: -1;      
 
}

/* ===================== HOMEE ================================== */

/* embarque neste carrosselllll */

.carrossel {
  position: relative;
  width: 100%;
  height: 700px;
  overflow: hidden;
  margin-top: -25px;
  z-index: -1;
  margin-bottom: 0;
}

.slides {
  display: flex;
  width: 400%; 
  height: 100%;
  animation: slideAuto 20s infinite;
}

.slide {
  width: 100vw;
  height: 100%;
  flex-shrink: 0;
}

.slide img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

@keyframes slideAuto {
  0%   { transform: translateX(0); }
  20%  { transform: translateX(0); }
  25%  { transform: translateX(-100vw); }
  45%  { transform: translateX(-100vw); }
  50%  { transform: translateX(-200vw); }
  70%  { transform: translateX(-200vw); }
  75%  { transform: translateX(-300vw); }
  95%  { transform: translateX(-300vw); }
  100% { transform: translateX(0); }
}



/* =======barrinha do frete ========= */

.info-beneficios {
  display: flex;
  margin-top: 50px;
  justify-content: center;
  align-items: center;
  gap: 20rem;
  padding: 2rem;
  background-color: #FFCCDF;  
  flex-wrap: wrap;
  margin-bottom: 50px;
  
}

.bloco {
  display: flex;
  flex-direction:row;        
  align-items: center;        
  gap: 1rem;                 
  max-width: 300px;
  text-align:center;           
}


.bloco img {
  width: 60px;
}

.bloco h3 {
  color: #A31911;
  font-size: 0.95rem;
  font-family: 'Baloo', cursive;
  margin: 0;
}

.bloco p {
  font-size: 0.8rem;
  color: #000;
  font-family: 'Baloo 2', cursive;
  margin: 0.2rem 0 0 0;
  line-height: 1.2;
}

/* ============================produtos populares ================================ */
.fundo-populares {
  position: relative;
  width: 100%;
  min-height: 700px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 80px;
  overflow: hidden;
}

.img-fundo-populares {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: auto;
  z-index: 0;
}

.conteudo-populares {
  position: relative;
  z-index: 1;
  max-width: 1200px;
  width: 100%;
  padding: 330px 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3rem;
}

.conteudo-populares h2 {
  display: flex;
  position: absolute;
  font-family: 'Baloo', cursive;
  font-size: 3rem;
  color: white;
  text-align: center;
  top: 5vh;
}






.itens-populares {
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  gap: 2rem;
  width: 100%;
}

.item {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 130px;
  height: 220px;
}

.item-cupcake img {
  width: 300px;
  margin-top: -50px;
  margin-right: 450px;
}

.item-cheesecake img {
  width: 250px;
  margin-top: -50px;
  margin-right: 260px;
}

.item-donuts img {
  width: 200px;
  margin-top: -30px;
  margin-right: 30px;
}

.item-cookies img {
  width: 250px;
  margin-top: 50px;
  margin-left: 210px;
}

.item-macaron img {
  width: 180px;
  margin-top: -80px;
  margin-left: 450px;
}

.item p {
  font-family: 'Baloo 2', cursive;
  font-size: 1rem;
  color: white;
  margin: 0;
}

.item-cupcake p {
  margin-top: -20px;
  margin-right: 450px;
}
.item-cheesecake p {
  margin-top: 10px;
  margin-right: 260px;
}

.item-donuts p {
  margin-top: 60px;
  margin-right: 30px;
}

.item-cookies p {
  margin-top: 35px;
  margin-left: 220px;
}

.item-macaron p {
  margin-top: 47px;
  margin-left: 450px;
}

/* ========================EFEITOS HOVER NAS IMAGENS ===================================== */

.itens-populares img:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  cursor: pointer;
}

/* =========================HOVER NAS LETRAS ============================== */

.itens-populares p:hover{
  transform: scale(1.2);
  transition: 0.2s ease-in-out;
  cursor: pointer;
  color: #A31911;
}